accelerate>=0.23.0
datasets>=2.14.4
einops>=0.7.0
nltk>=3.8.1
numpy>=1.24.4
pandas>=2.0.3
pytorch_lightning==1.8.5
pytorch_metric_learning==2.3.0
scipy>=1.11.3
torch>=2.1.0
transformers>=4.31.0
torch
